/* Import Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

:root {
    --bg-color: #FDFBF7;
    --primary: #88B04B; 
    --text-dark: #4A4A4A;
    --white: #ffffff;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg-color);
    height: 100vh; /* Full layar */
    display: flex;
    justify-content: center; /* Tengah Horizontal */
    align-items: center;     /* Tengah Vertikal */
}

.auth-card {
    background: var(--white);
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.05);
    width: 100%;
    max-width: 350px;
    text-align: center;
}

.auth-card h2 {
    color: var(--primary);
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    display: block;
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 5px;
}

.form-input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-sizing: border-box; /* Agar padding gak ngerusak width */
    outline: none;
    transition: 0.3s;
}

.form-input:focus {
    border-color: var(--primary);
}

.btn-submit {
    width: 100%;
    padding: 12px;
    background-color: var(--primary);
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 10px;
}

.btn-submit:hover {
    background-color: #769a40;
}

.link-text {
    margin-top: 15px;
    font-size: 0.85rem;
    color: #888;
}

.link-text a {
    color: var(--primary);
    text-decoration: none;
    font-weight: 600;
}